#twophotos .container {
  width: 100%;
}

#twophotos .container .row {
  margin: 20px 40px;
  height: 170px;
}

#twophotos .container .row .col-3 {
  margin: 10px 15px;
}

#twophotos .container .row .poland {
  background: url(/img/poland2.jpeg);
  background-size: cover;
}

#twophotos .container .row .venice {
  background: url(/img/italy2.jpeg);
  background-size: cover;
}

#consultation .container .row {
  height: 270px;
}

#consultation .container .row .col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 5px;
}

#consultation .container .row .col-7 .p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#consultation .container .row .col-5 {
  background: url(/img/consulting.jpg);
  background-size: cover;
  border-radius: 5px;
}

#slider .container {
  height: 340px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16384c;
  width: 100%;
  padding: 20px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slider .container .col-4 {
  height: 230px;
  margin: 0px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#slider .container .col-4 .imgBx {
  position: relative;
  height: 230px;
  width: 87%;
  top: -25px;
  left: 15px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#slider .container .col-4 .imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

#slider .container .col-4 .content {
  position: absolute;
  margin-top: 40px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  z-index: 2;
  visibility: visible;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#stdcomment .container .row {
  height: 250px;
  margin: 20px 40px;
}

#stdcomment .container .row .col-7,
#stdcomment .container .row .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin: 20px 10px;
  border-radius: 4px;
}

#stdcomment .container .row .col-7 .p,
#stdcomment .container .row .col-5 .p {
  margin: 0px 45px;
  text-align: center;
}

#footer .container {
  height: 170px;
}

#footer .container .footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container .footer-header .col-4 {
  margin: 0 20px;
  text-align: center;
  border-bottom: 1px solid gray;
}
/*# sourceMappingURL=home.css.map */