.container {
  width: 100%;
  margin: 0 auto;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  border-radius: 5px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="col-"] {
  margin: 10px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.btn {
  border: none;
  background: none;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-border-white {
  border: 1px solid orange;
  color: #0c6156;
}

.btn-border-white:hover {
  background: #0c6156;
  color: white;
  border: 1px solid orange;
}

body {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.border {
  border: 1px solid gray;
}

#header .container {
  background-image: url(/img/header1.jpeg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  height: 420px;
  position: relative;
}

#header .container .navbar {
  width: 1025px;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #16384c;
  font-weight: bold;
  font-size: 14px;
}

#header .container .navbar .navbar-left {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .container .navbar .navbar-left .logo {
  background: -webkit-gradient(linear, left top, left bottom, from(#eeb790), to(#d2691e));
  background: linear-gradient(#eeb790, #d2691e);
  padding: 20px;
}

#header .container .navbar .navbar-left .categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .container .navbar .navbar-left .categories ul a {
  padding: 0px 10px;
  color: #16384c;
  text-decoration: none;
}

#header .container .navbar .navbar-right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .container .mainbar {
  width: 1025px;
  height: 87%;
}

#header .container .mainbar .platform {
  width: 60%;
  padding: 85px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fcfafa;
  text-align: center;
}

#header .container .mainbar .applyform {
  position: absolute;
  top: 160px;
  right: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background: white;
}

#header .container .mainbar .applyform h2 {
  margin: 0px 0px 20px 12px;
  font-size: 15px;
  color: #a85317;
  font-weight: bold;
}

#header .container .mainbar .applyform .form {
  position: relative;
  height: 20px;
  margin: 15px;
}

#header .container .mainbar .applyform .form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  border-bottom: 1px solid black;
}

#header .container .mainbar .applyform .form label {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#header .container .mainbar .applyform .btn {
  padding: 30px 80px 0px;
  color: #a85317;
  font-weight: bolder;
}

#twophotos .container {
  width: 100%;
}

#twophotos .container .row {
  margin: 20px 40px;
  height: 170px;
}

#twophotos .container .row .col-3 {
  margin: 10px 15px;
}

#twophotos .container .row .poland {
  background: url(/img/poland2.jpeg);
  background-size: cover;
}

#twophotos .container .row .venice {
  background: url(/img/italy2.jpeg);
  background-size: cover;
}

#consultation .container .row {
  height: 270px;
}

#consultation .container .row .col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 5px;
}

#consultation .container .row .col-7 .p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#consultation .container .row .col-5 {
  background: url(/img/consulting.jpg);
  background-size: cover;
  border-radius: 5px;
}

#slider .container {
  height: 340px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16384c;
  width: 100%;
  padding: 20px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#slider .container .col-4 {
  height: 230px;
  margin: 0px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#slider .container .col-4 .imgBx {
  position: relative;
  height: 230px;
  width: 87%;
  top: -25px;
  left: 15px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#slider .container .col-4 .imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

#slider .container .col-4 .content {
  position: absolute;
  margin-top: 40px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  z-index: 2;
  visibility: visible;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#stdcomment .container .row {
  height: 250px;
  margin: 20px 40px;
}

#stdcomment .container .row .col-7,
#stdcomment .container .row .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin: 20px 10px;
  border-radius: 4px;
}

#stdcomment .container .row .col-7 .p,
#stdcomment .container .row .col-5 .p {
  margin: 0px 45px;
  text-align: center;
}

#footer .container {
  background: #215574;
  height: 170px;
  color: white;
}

#footer .container .footer-header {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container .footer-header .col-4 {
  margin: 0 20px;
  text-align: center;
}

#footer .container .footer-header .col-4 i {
  margin: 10px;
  color: white;
}

#footer .container .copyright {
  height: 20%;
  background: #1c4760;
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid gray;
}
/*# sourceMappingURL=style.css.map */