#stdcomment {
    .container {
        .row {
            height: 250px;
            margin: 20px 40px;
            .col-7,
            .col-5 {
                @extend .flex-fd-column;
                align-items: center;
                background: white;
                margin: 20px 10px;
                border-radius: 4px;
                h3 {
                    margin: 0px 0px 20px 0px;
                    font-weight: bold;
                }
                .p {
                    margin: 0px 45px;
                    text-align: center;
                }
            }
        }
    }
}